server:
  port: 8005
  forward-headers-strategy: framework
  # forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
  servlet:
    session:
      cookie:
        name: JSESSIONID
        http-only: true
        same-site: lax 



nhutphuongasasa:
  frontend:
    callback-url: http://localhost:3000/auth/callback
  security:
    access-token-validity-in-seconds: 3600
    jwt-issuer: "auth-service"
  aes-Key: "aes" 
  key-rotation-cron: 0 0 0 1 * ?

spring:
  # session:
    # store-type: redis
  application:
    name: auth-service
  security:
    user:
      password: ""
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - openid
              - email
              - profile
          provider:
            google:
              authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
              token-uri: https://oauth2.googleapis.com/token
              user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
              user-name-attribute: sub
      authorizationserver:
        issuer: http://localhost:8000/api/auth
        endpoint:
          authorization-uri: "/oauth2/authorize"
          token-uri: "/oauth2/token"              
          jwk-set-uri: "/oauth2/jwks"           
          token-revocation-uri: "/oauth2/revoke"
          token-introspection-uri: "/oauth2/introspect"
          oidc-user-info-uri: "/userinfo"



# ================================database ===============================
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:postgresql://ep-solitary-violet-a1x058fx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_6SFCDrQR0ofG
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    url: jdbc:postgresql://ep-solitary-violet-a1x058fx-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    user: neondb_owner
    password: npg_6SFCDrQR0ofG
    locations: classpath:db/migration           
    baseline-on-migrate: true                    
    # schemas: user_service
    clean-disabled: false

# ================================logging ===============================
logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    # Nhóm Security - Đã gộp lại không trùng lặp
    org.springframework.security: TRACE
    org.springframework.security.web.FilterChainProxy: DEBUG
    org.springframework.security.web.access.intercept.AuthorizationFilter: TRACE
    org.springframework.security.web.access.ExceptionTranslationFilter: TRACE
    org.springframework.security.oauth2: TRACE
    org.springframework.security.oauth2.client: TRACE
    org.springframework.security.oauth2.client.web: TRACE
    org.springframework.security.web.DefaultRedirectStrategy: TRACE
    # Nhóm Server & Web
    org.apache.tomcat.util.http.Rfc6265CookieProcessor: DEBUG
    org.apache.catalina.valves.RemoteIpValve: DEBUG
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: TRACE
    reactor.netty: INFO
    org.springframework.web: INFO
    org.springframework.cloud: INFO
    com.cloud.auth_service: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
# ================================tracing & health ===============================
management:
  health:
    show-details: always
    show-components: always
    diskspace:
      enabled: true
    refresh:
      enabled: true
    probes:
      enabled: true
    
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,env,threaddump,heapdump,prometheus,zipkin
      base-path: /actuator
    
  mappings:
    health: healthcheck

  tracing:
    sampling:
      probability: 1.0
  
