server:
  port: 8010
  netty:
    connection-timeout: 30s
    idle-timeout: 30s

spring:
  application:
    name: auth-service
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile
          provider:
            google:
              authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
              token-uri: https://oauth2.googleapis.com/token
              user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
              user-name-attribute: sub
      authorizationserver:
        issuer: http://auth-service/api/auth
        endpoint:
          token-uri: /token
          jwk-set-uri: /certs
          token-introspection-uri: "/introspect"
          token-revocation-uri: "/revoke"
          # authorization-uri: "/authorize"



# ================================database ===============================
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:postgresql://ep-restless-paper-a1savyei-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_qeaAy4WkIV9T
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    url: jdbc:postgresql://ep-restless-paper-a1savyei-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_qeaAy4WkIV9T
    locations: classpath:db/migration           
    baseline-on-migrate: true                    
    # schemas: user_service
    clean-disabled: false

# ================================logging ===============================
logging:
  level:
    root: INFO
    # brave: DEBUG
    reactor.netty: INFO
    org.springframework.web: INFO
    org.springframework.cloud: INFO
    com.cloud.authentication-service: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

# ================================tracing & health ===============================
management:
  health:
    show-details: always
    show-components: always
    diskspace:
      enabled: true
    refresh:
      enabled: true
    probes:
      enabled: true
    
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,env,threaddump,heapdump,prometheus,zipkin
      base-path: /actuator
    
  mappings:
    health: healthcheck

  tracing:
    sampling:
      probability: 1.0
  
