version: '3.9'


services:
  # nacosDB:
  #   image: mysql:8.0
  #   container_name: nacosDB
  #   ports:
  #     - "3306:3306"
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root
  #     MYSQL_DATABASE: nacos
  #     MYSQL_USER: nacos
  #     MYSQL_PASSWORD: nacos
  #   volumes:
  #     - ./nacos/nacosDB:/docker-entrypoint-initdb.d
  #   networks:
  #     - app-network
  #   restart: unless-stopped
        # API routes

  
  # # =============================================
  # # NACOS (Service Discovery & Config Center)
  # # =============================================
  # nacos-standalone-derby:
  #   image: nacos/nacos-server:v3.1.1
  #   container_name: nacos-standalone-derby
  #   hostname: nacos
  #   # volumes:
  #     # - ./nacos/properties/custom.properties:/home/nacos/conf/application.properties
  #   ports:
  #     - "8848:8848"   # Nacos console + API
  #     - "9848:9848"   # gRPC port (nếu dùng)
  #     - "8081:8080"   # nếu bạn muốn truy cập giao diện cũ
  #   environment:
  #     MODE: standalone
  #     SPRING_DATASOURCE_PLATFORM: mysql
  #     MYSQL_SERVICE_HOST: nacosDB
  #     MYSQL_SERVICE_DB_NAME: nacos
  #     MYSQL_SERVICE_USER: nacos
  #     MYSQL_SERVICE_PASSWORD: nacos
  #     MYSQL_SERVICE_DB_PARAM: characterEncoding=utf8&connectTimeout=10000&socketTimeout=30000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
  #     NACOS_AUTH_ENABLE: "true"
  #     NACOS_AUTH_TOKEN: SecretKey012345678901234567890123456789012345678901234567890123456789
  #     NACOS_AUTH_IDENTITY_KEY: serverIdentity
  #     NACOS_AUTH_IDENTITY_VALUE: security
  #     NACOS_AUTH_USERNAME: "nacos"
  #     NACOS_AUTH_PASSWORD: "phuong"
  #   networks:
  #     - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
    restart: unless-stopped

  my-app:
    build: ./my-app
    container_name: my-app
    expose:
      - "80"
    networks:
      - app-network
    restart: unless-stopped
      
  kafka:
    image: apache/kafka:3.8.0
    container_name: kafka-apache
    hostname: kafka-apache
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-apache:9093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-apache:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2QkFKRA==
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka-apache:9092 --list > /dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 15s
    networks:
      - app-network

  # kafka-ui:
  #   image: provectuslabs/kafka-ui:latest
  #   container_name: kafka-ui
  #   depends_on:
  #     kafka:
  #       condition: service_healthy
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     KAFKA_CLUSTERS_0_NAME: local-apache
  #     KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-apache:9092
  #   networks:
  #     - app-network

  # =============================================
  # ORDER-SERVICE
  # =============================================
  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8004:8004"
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8004/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 10s

  # =============================================
  # API GATEWAY
  # =============================================
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    expose:
      - "8000"
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 10s

  # =============================================
  # INVENTORY-SERVICE
  # =============================================
  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8003:8003"
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8003/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 10s

  # =============================================
  # PRODUCT-SERVICE
  # =============================================
  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8002:8002"
    networks:
      - app-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 10s

  # =============================================
  # VENDOR-SERVICE
  # =============================================
  vendor-service:
    build: ./vendor-service
    container_name: vendor-service
    ports:
      - "8001:8001"
    networks:
      - app-network
    restart: always
    environment:
      - NACOS_SERVER_ADDR=nacos-standalone-derby:8848
      - NACOS_NAMESPACE=public
      - NACOS_GROUP=DEFAULT_GROUP
      - NACOS_USERNAME=nacos
      - NACOS_PASSWORD=phuong
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/actuator/health"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 10s

  # =============================================
  # ZIPKIN
  # =============================================
  # zipkin:
  #   image: openzipkin/zipkin
  #   container_name: zipkin
  #   ports:
  #     - "9411:9411"
  #   environment:
  #     - STORAGE_TYPE=mem
  #     - JAVA_OPTS=-Xms512m -Xmx512m
  #   networks:
  #     - app-network
  #   restart: unless-stopped

networks:
  app-network:
    external: true