# ------------------- SERVER (Netty) -------------------
server:
  port: 8000
  # netty:
    # connection-timeout: 2s
    # idle-timeout: 0s

# ------------------- REDIRECT URL -------------------
redirect:
  vendor:
    url: vendor/dashboard
  admin:
    url: admin/dashboard

spring:
  session:
      timeout: 15h
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader 

      httpclient:
        connect-timeout: 2000
        response-timeout: 5s
        pool:
          type: elastic
          idle-timeout: 30s

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=2
            - AddRequestHeader=X-Forwarded-Host, localhost:8000
            - AddRequestHeader=X-Forwarded-Port, 8000
            - AddRequestHeader=X-Forwarded-Proto, http
            - AddRequestHeader=X-Forwarded-Prefix, /api/auth
            - DedupeResponseHeader=Access-Control-Allow-Credentials Set-Cookie

        - id: vendor-service 
          uri: lb://vendor-service
          predicates:
            - Path=/api/vendor/**
          filters:
            - StripPrefix=2

        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=2

        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventory/**
          filters:
            - StripPrefix=2

        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=2
  # cloud:
  #   gateway:
  #     default-filters:
  #       - PreserveHostHeader #
  #     server:
  #       webflux: # <-- ĐÂY LÀ CẤP ĐỘ MỚI BẮT BUỘC
  #         httpclient:
  #           connect-timeout: 2000
  #           response-timeout: 5s
  #           pool:
  #             type: elastic
  #             idle-timeout: 30s
  #         discovery:
  #           locator:
  #             enabled: true
  #             lower-case-service-id: true
  #         routes:
  #           - id: vendor-service 
  #             uri: lb://vendor-service
  #             predicates:
  #               - Path=/api/vendor/**
  #             filters:
  #               - name: StripPrefix
  #                 args:
  #                   parts: 2
  #           - id: product-service
  #             uri: lb://product-service
  #             predicates:
  #               - Path=/api/product/**
  #             filters:
  #               - name: StripPrefix
  #                 args:
  #                   parts: 2
  #           - id: inventory-service
  #             uri: lb://inventory-service
  #             predicates:
  #               - Path=/api/inventory/**
  #             filters:
  #               - name: StripPrefix
  #                 args:
  #                   parts: 2
  #           - id: order-service
  #             uri: lb://order-service
  #             predicates:
  #               - Path=/api/order/**
  #             filters:
  #               - name: StripPrefix
  #                 args:
  #                   parts: 2
  #           - id: auth-service
  #             uri: lb://auth-service
  #             predicates:
  #               - Path=/api/auth/**
  #             filters:
  #               - name: StripPrefix
  #                 args:
  #                   parts: 2
  #               - AddRequestHeader=X-Forwarded-Host, localhost:8000
  #               - AddRequestHeader=X-Forwarded-Proto, http
  #               - AddRequestHeader=X-Forwarded-Prefix, /api/auth
  #               - AddRequestHeader=X-Forwarded-Port, 8000
  main:
    web-application-type: reactive

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway.filter: DEBUG
    org.springframework.cloud.gateway.handler: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    org.springframework.security: DEBUG
    com.cloud.api_gateway: DEBUG


  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,env,threaddump,heapdump,prometheus,zipkin,gateway
      base-path: /actuator
      
  endpoint:
    gateway:
      access: unrestricted
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true  # Kubernetes liveness/readiness
    
    mappings:
      health: healthcheck  
      
  health:
    diskspace:
      enabled: true
    refresh:
      enabled: true
    
  # ------------------- TRACING: Micrometer + Brave + Zipkin -------------------
  tracing:
    sampling:
      probability: 1.0 
      
